.dashboard-home-container{
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.dashboard-cards-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin:auto;
    border:1px solid #ddd;
}
.dashboard-graphs-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
@media (max-width: 952px) {
    .dashboard-graphs-grid{
        width:90%;
        grid-template-columns: 1fr;
    }
}