.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  position: relative;
  overflow: hidden;
}

.login-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: relative;
  color:white
}
.login-box::after{
  position:absolute;
  content:"";
  top:30%;
  height:80vh;
  width:40vw;
  z-index: -25;
  background-image: radial-gradient(purple, transparent);
  border-radius: 50%;
}
.login-box::before{
  position:absolute;
  content:"";
  top:0%;
  right:0;
  height:80vh;
  width:40vw;
  z-index: -25;
  background-image: radial-gradient(purple, transparent);
  border-radius: 50%;
}
.brand-title {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  color: #357ab7;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* backdrop-filter: blur(12px) saturate(196%);
    -webkit-backdrop-filter: blur(18px) saturate(106%);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
}
.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 1rem;
  background-color: #357ab7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-form button:hover {
  background-color: #2b5e94;
}

.error-message {
  color: red;
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
}
